<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

    <h1 class="title">
        What's the weather like?

        {% if error %}
            <div>
                {{ error }}
            </div>
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}

            <input type="text" name='city' placeholder="City name">

            <button type="submit" class="button is-info">
                Enter
            </button>
            <br>

            <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">

            <br>
            <span>{{ city_weather.city }}</span>
            <br>
            <span>{{ city_weather.temperature }}° C</span>
            <br> {{ city_weather.description }}
        </form>    
        <br>
        <br>
        <div id='map' style='width: 400px; height: 300px;'></div>
        <script>
            mapboxgl.accessToken = '{{mapbox_access_token}}';
            longitude = '{{ city_weather.longitude }}';
            latitude = '{{ city_weather.latitude }}';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [longitude, latitude],
                zoom: 9
            });
            var marker = new mapboxgl.Marker()
                .setLngLat([longitude, latitude])
                .addTo(map);
        </script>
</body>

</html>